extends layout

block content
  a(href="/") #{title}
  div.left
    h2 Add Place
    form(action="/places/create", method="post")
      input(type="text", name="title" placeholder="Title")
      input(type="text", name="description" placeholder="Description")
      input(type="text", name="img" placeholder="img")
      input(type="number", name="desire" placeholder="Desire")
      input(type="submit")

  div.right
    h2.title List
    ul
      each place in places
        li
          a.title(href="place/" + place.id) #{place.title}
          p.desire=place.desire
          img(src=place.img)
          p.description=place.description
          a.destroy(href="/places/" + place.id + "/destroy") Destroy
          ul.links
            p Links
            each link in place.Links
              li.link
                a(href=link.href target="blank") #{link.displayName}
                a(href="/places/" + place.id + "/links/" + link.id + "/destroy") Destroy
            li.form
              p Add Link
              form(action="/places/" + place.id + "/links/create", method="post", style="display: inline")
                input(type="text", name="displayName" placeholder="Title")
                input(type="text", name="href" placeholder="Link")
                input(type="submit")
